RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

#rewrite URLs & Assets
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^bower_components/(.*) client/dist/bower_components/$1 [L]
RewriteRule ^styles/(.*) client/dist/styles/$1 [L]
RewriteRule ^scripts/(.*) client/dist/scripts/$1 [L]
RewriteRule ^ index.php [QSA,L]